{% extends 'BookRequestBundle:Example:base2.html.twig' %}
{% block body %}
    <h1>Recent Articles</h1>
    {% for article in articles %}
        {{ include('BookRequestBundle:Example/Article:articleDetails.html.twig', { 'article': article } ) }}
    {% endfor %}
{% endblock %}
